html, body {
  position: relative;
  height: 100%;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

p{
  margin: 0;
  padding: 0;
}

h2{
  font-family:Gotham Pro;
  margin: 0;
}

/***********************Slide 1**********************************/

.slide-1{
  display: flex;
  flex-direction: column;
  background: url(../img/slide-1-bg.jpg) no-repeat center center;
  background-size: 100% 100%;
}

.slide-1_header{
  display: inline-block;
  margin-left:76px;
  margin-top:141px;
  font-size:3.125rem;
  font-weight: 500;
  color:#0d319c;
}

.slide-1_point{
  position: absolute;
}

.slide-1_point span{
  font-family: Lato-Regular;
  font-size: 1.25rem;
}

.top_point{
  top:255px;
  left:520px;
}

.top_point span{
  position: relative;
  top:-45px;
  left:105px;
}

.right_point{
  top:65.2%;
  left:76.83%;
}

.right_point .pulse_container{
  min-height: 15px;
}

.right_point span{
  position: relative;
  top:-10px;
}

.bottom_point{
  top:520px;
  left:415px;
}

.bottom_point .pulse_container{
  min-height: 15px;
}

.bottom_point span{
  position: relative;
  top:-10px;
  left:-40px;
}

.left_point{
  top:52.5%;
  left:22%;
}

.left_point .pulse_container{
  min-height: 30px;
}

.left_point span{
  position: relative;
  top:-10px;
}
/***********************Slide 2**********************************/

.slide-2{
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/slide-2-bg.jpg) no-repeat center center;
  background-size:100% 100%;
}

.slide-2 .slide-2_header{
  align-self: flex-start;
  margin-top: 256px;
  font-family: Gotham Pro-Light;
  font-size: 3.125rem;
  font-weight: 300;
  color:white;
}

/***********************Slide 3-1**********************************/

.slide-3-1{
  background:url(../img/slide-3-1-bg.jpg) no-repeat center center;
  background-size:100% 100%;
}

.slide-3-1_header,
.slide-3-2_header,
.slide-3-3_header{
  font-family: Gotham Pro;
  font-size: 1.875rem;
  font-weight: 500;
  color:white;
}

.slide-3-1_scheme{
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 56.64%;
  min-height: 333.5px;
  margin:0 auto;
  margin-top:100px;
}

.slide-3-1_header{
  margin-top:116.5px;
  margin-left: 83px;
}

.slide-3-1_scheme .scheme_item p{
  font-family: Lato-Medium;
  font-size: 1.375rem;
}

.slide-3-2_scheme .scheme_item p,
.slide-3-3_scheme .scheme_item p{
  font-family: Lato-Medium;
  font-size: 1.25rem;
}

.slide-3-1_scheme .scheme_item span,
.slide-3-2_scheme .scheme_item span,
.slide-3-3_scheme .scheme_item span{
  font-family: Lato-Semibold;
  font-size: 2.25rem;
}

.scheme_item{
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  align-items: center;
}

.slide-3-1_scheme .scheme_item:first-child{
  position: absolute;
  top:0;
  left: calc(50% - 40px);
}

.img_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 83px;
    height: 83px;
    border-radius: 50%;
    background-color: #3e427d;
    text-align: center;
}

.slide-3-1_scheme .scheme_item span.beta,
.slide-3-2_scheme .scheme_item span.beta{
  font-family: Lato-Bold;
  color: white;
  font-size: 4.125rem;
}

.img_container.three img{
  margin-top: 10px;
}

.img_container.two,
.img_container.three{
  margin-bottom:10px;
}

.square{
  text-align: center;
  color: white;
  border: 1px solid white;
  padding:35px 56px;
}

.square p {
  font-family: Lato-Medium;
  font-size: 1.25rem;
}

.slide-3-1_scheme .arrow.w{
  bottom:15%;
  right:90px;
}

.slide-3-1_scheme .arrow.e{
  bottom:15%;
  left:90px;
}

.slide-3-1_scheme .arrow.s{
  bottom:145px;
  right:260px;
}

.slide-3-1_scheme .arrow.sw{
  bottom:140px;;
  left:75px;
}

.slide-3-1_scheme .arrow.se{
  bottom:140px;
  right:75px;
}

/***********************Slide 3-2**********************************/

.slide-3-2{
  background:url(../img/slide-3-2-bg.jpg) no-repeat center center;
  background-size:100% 100%;
  background-color: blue;
}

.slide-3-2_scheme{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  margin-top:50px;
  width: 774px;
}

.slide-3-2_header{
  margin-top: 90px;
  margin-left: 83px;
}

.slide-3-2_scheme .scheme_item{
  margin-right: 80px;
}

.slide-3-2_scheme .img_container{
  width: 60px;
  height: 60px;
  margin: 10px;
}

.slide-3-2_scheme .square{
    padding: 50px 111px;
    margin:35px;
}

.slide-3-2_scheme .square p{
  font-family: Lato-Medium;
  font-size: 1.5rem;
}

.slide-3-2_scheme .scheme_item .text_column.start{
  text-align: left;
  margin-top: 40px;
}

.slide-3-2_scheme .scheme_item .text_column.end{
  margin-top: 20px;
}

.row span{
  font-size:25px;
}

.row .scheme_item:nth-child(3){
  margin-right: 0;
}

.row:first-child .scheme_item:first-child p{
  text-align: right;
}

.row:first-child .scheme_item:nth-child(3) p{
  text-align: right;
}

.row:first-child{
  align-items: flex-end;
}

.row:first-child .img_container{
  margin-bottom: 0;
}

.row:nth-child(2) .scheme_item:first-child{
  margin-right: 0;
}

.row:nth-child(2) .scheme_item:first-child .img_container img{
  margin-right: 10px;
}

.row:nth-child(3){
  padding-right: 35px;
  align-items: flex-start;
}

.slide-3-2_arrows .arrow.s{
  top:320px;
}

.slide-3-2_arrows .arrow.s:first-child{
  left: 330px;
}

.slide-3-2_arrows .arrow.s:nth-child(2){
  left: 490px;
}

.slide-3-2_arrows .arrow.s:nth-child(3){
  left: 650px;
}

.slide-3-2_arrows .arrow.n{
  bottom:260px;
  width: 30px;
}

.slide-3-2_arrows .arrow.n:nth-child(4){
  left: 320px;
}

.slide-3-2_arrows .arrow.n:nth-child(5){
  left: 482px;
}

.slide-3-2_arrows .arrow.n:nth-child(6){
  left: 642px;
}

.slide-3-2_arrows .arrow.e,
.slide-3-2_arrows .arrow.w{
  top:410px;
  width:30px;
}

.slide-3-2_arrows .arrow.e{
  left:255px;
}

.slide-3-2_arrows .arrow.w{
  right: 290px;
}

.slide-3-2_scheme .arrow2{
  width: 20px;
}

/***********************Slide 3-3**********************************/

.slide-3-3{
  background:url(../img/slide-3-3-bg.jpg) no-repeat center center;
  background-size:100% 100%;
}

.slide-3-3_scheme{
  position: relative;
  display: flex;
  width: 910.5px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.slide-3-3_header{
  margin-top: 116px;
  margin-left:84.5px;
}

.slide-3-3 .img_container{
  width: 60px;
  height: 60px;
  margin:8px;
}

.img_container.big{
  width:80px;
  height: 80px;
}

.slide-3-3_scheme .column:first-child .scheme_item{
  margin-bottom: 31px;
}

.slide-3-3_scheme .column:first-child .img_container{
  margin-bottom: 0;
}

.slide-3-3_scheme .column:first-child .scheme_item.small{
  margin-right: 20px;
}

.slide-3-3_scheme .column:first-child{
  margin-right: 40px;
}

.slide-3-3_scheme .scheme_item .text_column span{
  margin-bottom: 0;
}

.slide-3-3_scheme .column:first-child .scheme_item p{
  text-align: right;
}

.slide-3-3_scheme .column.center{
  margin-right: 10px;
}

.slide-3-3_scheme .column.center>.scheme_item:first-child{
  align-items: center;
  margin-bottom: 81px;
  margin-left: -20px;
}

.slide-3-3_scheme .column.center>.scheme_item:first-child .beta{
  font-family: Lato-Bold;
  font-size:4.125rem;
}

.slide-3-3_scheme .column.center>.scheme_item:first-child p{
  font-size: 1.5rem;
}

.slide-3-3_scheme .column.center .row{
  align-items: flex-start;
  margin-bottom: 50px;
}

.slide-3-3_scheme .column.center .row>.scheme_item:first-child{
  margin-right: 35px;
}

.slide-3-3_scheme .column.center .row .scheme_item:nth-child(2){
  justify-content: flex-start;
}

.slide-3-3_scheme .column.center .row .scheme_item:nth-child(2) small{
  margin-top:31px;
}

.slide-3-3_scheme .column.center .scheme_item.row_dir{
  margin-left:-80px;
}

.slide-3-3_scheme .column.center .scheme_item:nth-child(3){
  margin-bottom: 41.5px;
}

.slide-3-3_scheme .column.center .scheme_item:nth-child(3) span{
  font-family: Lato-Medium;
  font-size: 1.5rem;
}

.slide-3-3_scheme .small{
  font-family: Lato-Medium;
  font-size: 0.9375rem;
}

.slide-3-3_scheme .column.start{
  margin-top:80px;
}

.slide-3-3_scheme .column.start .img_container{
  margin-top: 0;
  margin-bottom: 0;
}

.slide-3-3_scheme .column.start>.scheme_item:first-child{
  margin-bottom: 37.5px;
}

.slide-3-3_scheme .column.start .column{
  padding:22.5px 0 0 16.5px;
  border: 2px solid #23164f;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 40px;
  background: -webkit-linear-gradient(288deg, rgba(42,47,106,1) 0%, rgba(42,47,106,0.91) 5%, rgba(42,47,106,0.17) 51%, rgba(42,47,106,0) 61%);
}

.slide-3-3_scheme .column.start .column span{
  align-self: center;
  margin-bottom: 18.5px;
  color: white;
}

.slide-3-3_scheme .column.start .column .scheme_item:not(:last-child){
  margin-bottom: 35px;
}

.slide-3-3_arrows .arrow-3-1{
  width: 110px;
}

.slide-3-3_arrows .arrow-3-1.left.top{
  top:100px;
  left: 310px;
  transform: rotate(175deg);
}

.slide-3-3_arrows .arrow-3-1.left.bottom{
  top:110px;
  left: 300px;
  transform: rotate(-5deg);
}

.slide-3-3_arrows .arrow-3-1.right.top{
  top:100px;
  left: 540px;
  transform: rotate(5deg);
}

.slide-3-3_arrows .arrow-3-1.right.bottom{
  top:110px;
  left: 550px;
  transform: rotate(185deg);
}

.slide-3-3_arrows .arrow-3-2{
  width: 152.5px;
}

.slide-3-3_arrows .arrow-3-2.left.top{
  top: 170px;
  left:290px;
  transform: rotate(150deg);
}

.slide-3-3_arrows .arrow-3-2.left.bottom{
  top: 180px;
  left:290px;
  transform: rotate(-30deg);
}

.slide-3-3_arrows .arrow-3-2.right.top{
  top: 170px;
  left:520px;
  transform: rotate(30deg);
}

.slide-3-3_arrows .arrow-3-2.right.bottom{
  top: 180px;
  left:520px;
  transform: rotate(-150deg);
}

.slide-3-3_arrows .arrow.arrow-3-3.left.s{
  width: 60px;
  left: 425px;
  top: 170px;
}

.slide-3-3_arrows .arrow.arrow-3-3.middle.s{
  top: 255px;
  width: 226px;
  left: 370px;
}

.slide-3-3_arrows .arrow.arrow-3-3.right.s{
  width: 60px;
  left: 475px;
  top: 170px;
}

.slide-3-3_arrows .arrow.arrow-3-4.left.s{
  width: 48px;
  left: 435px;
  top: 345px;
}

.slide-3-3_arrows .arrow.arrow-3-4.right.s.small{
  width: 5px;
  top: 300px;
  left: 505px;
}

.slide-3-3_arrows .arrow.arrow-3-4.right.s{
  width: 25px;
  left: 492px;
  top: 356px;
}

.slide-3-3_arrows .arrow.arrow-3-5.left.n{
  width: 30px;
  left: 455px;
  top: 440px;
}

.slide-3-3_arrows .arrow.arrow-3-5.right.s{
  width: 30px;
  left: 470px;
  top: 430px;
}

.slide-3-3_arrows .arrow.arrow-3-6.left{
  width: 236px;
  left: 240px;
  top: 220px;
  transform: rotate(140deg)
}

.slide-3-3_arrows .arrow.arrow-3-6.right{
  width: 100px;
  left: 270px;
  top: 360px;
  transform: rotate(20deg)
}

.slide-3-3_arrows .arrow.arrow-3-6.bottom{
  width: 100px;
  left: 280px;
  top: 400px;
}

.slide-3-3_arrows .arrow.arrow-3-6.small.s{
  width: 15px;
  left: 240px;
  top: 340px;
}

.slide-3-3_arrows .arrow.arrow-3-7.left.n{
  width: 15px;
  right: 150px;
  top: 175px;
}

.slide-3-3_arrows .arrow.arrow-3-7.right.s{
  width: 15px;
  right: 135px;
  top: 165px;
}

.item_2_arrow{
  position: relative;
}
.item_2_arrow::before{
  content: "↓";
  position: absolute;
  left: -20px;
}

.item_3_arrow{
  position: relative;
  margin-left: 13px;
}

.item_3_arrow::before{
  content: "↑";
  position: absolute;
  left:-10px;
  font-size: 16px;
}
/***********************Directions**********************************/

.row_dir{
  display: flex;
  flex-direction: row;
}

.column{
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.text_row{
  display: flex;
  flex-direction: row;
}

.text_row span{
  margin-right:15px;
}

.start{
  align-items: flex-start;
  text-align: left;
}

.end{
  align-items: flex-end;
  text-align: right;
}

.center{
  align-items: center;
}

/***********************Range-slider**********************************/

.input_container{
	position:relative;
	bottom: 75px;
  left:calc(50% - (64.16% / 2)); 
  z-index: 100;
  visibility: hidden;
}

input[type='range'] {
  width:64.16%;
  height: 12.5px;
  -webkit-appearance: none;
  background-color: #435063;
  outline: none;
  overflow: hidden;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 10px;
  -webkit-appearance: none;
  color: #13bba4;
  margin-top: -1px;
}

input[type='range']::-webkit-slider-thumb {
  position: relative;
  width: 1px;
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
  box-shadow: -9999px 0 0 9999px #d1eaff;
}

.thumb-image{
	position:absolute;
	top:-45px;
	left:-25px;
	width:87px;
	height:110px;
	background-image:url(../img/thumb.png);
  background-size:42.5px 56px;
  background-repeat: no-repeat;
  background-position: center;
}

.dates_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 657px;
  margin-top:30px;
}

.dates_container span{
  font-family: Gotham Pro;
  font-size: 1.25rem;
  color: white;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.slide-3-1_scheme .arrow.w,
.slide-3-1_scheme .arrow.e,
.slide-3-1_scheme .arrow.s{
  width:60px;
}

.arrow{
	position:absolute;
	width: 70px;
	border-top: 1px solid white;
}

.arrow1{
  width:180px;
}

.arrow:before {
  content: '\27a4';
  color: white;
  position: absolute;
  right: 0;
  width: 1px;
  line-height: 0;
}

.n {transform: rotate(-90deg);} 
.ne {transform: rotate(-45deg);} 
.se {transform: rotate(38deg);} 
.s {transform: rotate(90deg);} 
.sw {transform: rotate(142deg);} 
.w {transform: rotate(-180deg);} 
.nw {transform: rotate(-135deg);}

/***********************Pulse-circle**********************************/

.pulse_container{
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.big_circle{
  width:55px;
	height:55px;
}

.mid_circle{
  width: 27.5px;
  height: 27.5px;
}

.small_circle{
  width: 10px;
  height: 10px;
}

.circle{
	position:absolute;
	border:1px solid #FF4500;	
	border-radius:50%;
	background:rgba(255, 165, 0, 0);
}

.animation_circle{
  animation:pulse 3s infinite linear;
}

.animation_delay{
  animation-delay:1.5s;
}

@keyframes pulse{
	0%{
		transform:scale(0.25);
		background:rgba(255, 165, 0, 1);
	}
	100%{
		transform:scale(1);
		background:rgba(255, 165, 0, 0);
	}
}

.swiper-pagination-bullets span{
  background-color: #f78b1f;
  width: 10px;
  height: 10px;
}